[worker]
worker-1 ansible_host=192.168.0.102
worker-2 ansible_host=192.168.0.103

[manager]
manager-1 ansible_host=192.168.0.106

[all:vars]
ansible_user=ansible
ansible_ssh_private_key_file=~/.ssh/id_rsa

[swarm:children]
manager
worker
